.auth-container {
  display: flex;
  height: calc(100vh - 80px);
}

.auth-left {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
}

.auth-card {
  width: 400px;
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #111827;
}

.auth-card input,
.auth-card select {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
}

.auth-card input:focus,
.auth-card select:focus {
  border-color: #2563eb;
  outline: none;
}

.auth-btn-main {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #2563eb;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.auth-btn-main:hover {
  background: #1e40af;
}

.error {
  color: #ef4444;
  font-size: 13px;
}