.payment-container {
  padding: 60px;
  background: linear-gradient(to right, #2563eb, #4f46e5);
  min-height: 100vh;
  color: white;
}

.payment-card {
  background: white;
  color: black;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
}

.payment-card select,
.payment-card button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
}